@model ThesisCommitteeOutput

<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewData["PageName"]: "@Model.Name"</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="Id"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="Id" class="form-control" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Name"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="Name" class="form-control" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Description"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="Description" class="form-control" placeholder="Mô tả" disabled></textarea>
                                    </div>
                                      <div class="col-md-4">
                                        <label asp-for="Council.Name"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="Council.Name" class="form-control" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="CreatedAt"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="CreatedAt" class="form-control" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="UpdatedAt"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="UpdatedAt" class="form-control" disabled />
                                    </div>
                                </div>

                                @if (Model.Members.Count == 0)
                                {
                                    <div class="row mt-5">
                                        <div class="col-12">
                                            <h4 class="card-title text-danger">Tiểu ban này chưa có thành viên!</h4>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row mt-5">
                                        <div class="col-12">
                                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                                <div>
                                                    <h4 class="card-title">Thành viên trong tiểu ban</h4>
                                                </div>
                                                <div class="dataTable-container">
                                                    <table class="table table-striped dataTable-table" id="table1">
                                                        <thead>
                                                            <tr>
                                                                <th data-sortable="" style="width: 10%;">
                                                                    <a href="#" class="dataTable-sorter">STT</a>
                                                                </th>
                                                                <th data-sortable="" style="width: 15%;">
                                                                    <a href="#" class="dataTable-sorter">Mã thành viên</a>
                                                                </th>
                                                                <th data-sortable="" style="width: 25%;">
                                                                    <a href="#" class="dataTable-sorter">Họ tên</a>
                                                                </th>
                                                                <th data-sortable="" style="width: 25%;">
                                                                    <a href="#" class="dataTable-sorter">Email</a>
                                                                </th>
                                                                <th data-sortable="" style="width: 25%;">
                                                                    <a href="#" class="dataTable-sorter">Vai trò</a>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int count = 1;
                                                            }
                                                            @foreach (CommitteeMemberOutput member in Model.Members)
                                                            {
                                                                <tr>
                                                                    <td>@count</td>
                                                                    <td>@member.MemberId</td>
                                                                    <td>@member.FullName</td>
                                                                    <td>@member.Email</td>
                                                                    <td>@member.Titles</td>
                                                                </tr>
                                                                count++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @if (Model.Theses.Count == 0)
                                {
                                    <div class="row mt-5">
                                        <div class="col-12">
                                            <h4 class="card-title text-danger">Tiểu ban này chưa được phân công đề tài!</h4>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row mt-5">
                                        <div class="col-12">
                                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                                <div>
                                                    <h4 class="card-title">Đề tài được phân công của tiểu ban</h4>
                                                </div>
                                                <div class="dataTable-container">
                                                    <table class="table table-striped dataTable-table" id="table1">
                                                        <thead>
                                                            <tr>
                                                                <th data-sortable="" style="width: 10%;">
                                                                    <a href="#" class="dataTable-sorter">STT</a>
                                                                </th>
                                                                <th data-sortable="" style="width: 20%;">
                                                                    <a href="#" class="dataTable-sorter">Mã đề tài</a>
                                                                </th>
                                                                <th data-sortable="" style="width: 40%;">
                                                                    <a href="#" class="dataTable-sorter">Tên đề tài</a>
                                                                </th>
                                                                <th data-sortable="" style="width: 30%;">
                                                                    <a href="#" class="dataTable-sorter">Giảng viên</a>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{
                                                                int count = 1;
                                                            }
                                                            @foreach (ThesisOutput thesis in Model.Theses)
                                                            {
                                                                <tr>
                                                                    <td>@count</td>
                                                                    <td>@thesis.Id</td>
                                                                    <td>@thesis.Name</td>
                                                                    <td>
                                                                        <ul>
                                                                            <li>GV ra đề: @thesis.Lecturer.FullName</li>
                                                                            <li>GVHD: @thesis.ThesisSupervisor?.FullName</li>
                                                                            <li>GVPB: @thesis.CriticalLecturer?.FullName</li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                                count++;
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                <div class="row">
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <a asp-action="Index" class="btn btn-light-secondary me-1 mb-1">Quay về danh sách</a>
                                        <a asp-action="LoadAddThesisView" asp-route-committeeId="@Model.Id" class="btn btn-primary me-1 mb-1">Phân công đề tài</a>
                                        <a asp-action="LoadAddMemberView" asp-route-committeeId="@Model.Id" class="btn btn-primary me-1 mb-1">Phân công thành viên</a>
                                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-1 mb-1">Chỉnh sửa</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
