@model ThesisCommitteeOutput

@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")

<section id="basic-horizontal-layouts">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">@ViewData["PageName"]: "@Model.Name"</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label asp-for="Id"></label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input asp-for="Id" class="form-control" disabled />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Name"></label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input asp-for="Name" class="form-control" disabled />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Description"></label>
                        </div>
                        <div class="col-md-8 form-group">
                            <textarea asp-for="Description" class="form-control" placeholder="Mô tả" disabled></textarea>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Council.Name"></label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input asp-for="Council.Name" class="form-control" disabled />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="CreatedAt"></label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input asp-for="CreatedAt" class="form-control" disabled />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="UpdatedAt"></label>
                        </div>
                        <div class="col-md-8 form-group">
                            <input asp-for="UpdatedAt" class="form-control" disabled />
                        </div>
                    </div>
                    @if (Model.Members.Count == 0)
                    {
                        <div class="row mt-5">
                            <div class="col-12">
                                <h4 class="card-title text-danger">Tiểu ban này chưa có thành viên!</h4>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                    <div>
                                        <h4 class="card-title">Thành viên trong tiểu ban</h4>
                                    </div>
                                    <div class="dataTable-container">
                                        <table class="table table-striped dataTable-table" id="table1">
                                            <thead>
                                                <tr>
                                                    <th data-sortable="" style="width: 10%;">
                                                        <a href="#" class="dataTable-sorter">STT</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 15%;">
                                                        <a href="#" class="dataTable-sorter">Mã thành viên</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 20%;">
                                                        <a href="#" class="dataTable-sorter">Họ tên</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 20%;">
                                                        <a href="#" class="dataTable-sorter">Email</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 20%;">
                                                        <a href="#" class="dataTable-sorter">Vai trò</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 15%;">
                                                        <a href="#" class="dataTable-sorter">Công cụ</a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int count = 1;
                                                }
                                                @foreach (CommitteeMemberOutput member in Model.Members)
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@member.MemberId</td>
                                                        <td>@member.FullName</td>
                                                        <td>@member.Email</td>
                                                        <td>@member.Titles</td>
                                                        <td colspan="2">
                                                            <form asp-action="DeleteMember" id="delete_@count" method="post">
                                                                <input type="hidden" name="memberId" value="@member.MemberId" />
                                                                <input type="hidden" name="committeeId" value="@Model.Id" />
                                                                <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>Xóa</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Thêm thành viên vào tiểu ban</h4>
        </div>
        <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                @await Component.InvokeAsync("FacultyStaffLayout_PagedSearch", new { action = "LoadAddMemberView", enableSearchBy = true })
                <div class="dataTable-container">
                    <table class="table table-striped dataTable-table" id="table1">
                        <thead>
                            <tr>
                                <th data-sortable="" style="width: 10%;">
                                    <a href="#" class="dataTable-sorter">STT</a>
                                </th>
                                <th data-sortable="" style="width: 15%;">
                                    <a href="#" class="dataTable-sorter">Mã giảng viên</a>
                                </th>
                                <th data-sortable="" style="width: 20%;">
                                    <a href="#" class="dataTable-sorter">Họ tên</a>
                                </th>
                                <th data-sortable="" style="width: 20%;">
                                    <a href="#" class="dataTable-sorter">Email</a>
                                </th>
                                <th data-sortable="" style="width: 35%; text-align: center;">
                                    <a href="#" class="dataTable-sorter">Chọn chức danh & thêm</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count2 = 1;
                            }
                            @foreach (FacultyStaffOutput facultyStaff in (IEnumerable<FacultyStaffOutput>)ViewData["PagedList"]!)
                            {
                                <tr>
                                    <td>@count2</td>
                                    <td>@facultyStaff.Id</td>
                                    <td>@facultyStaff.FullName</td>
                                    <td>@facultyStaff.Email</td>
                                    <td>
                                        <form asp-action="AddMember" id="add_@count2" method="post">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <select class="form-control" name="Titles">
                                                        <option value="Trưởng ban">Trưởng ban</option>
                                                        <option value="Thư ký">Thư ký</option>
                                                        <option value="Thành viên">Thành viên</option>
                                                        <option value="Thư ký - Thành viên">Thư ký - Thành viên</option>
                                                    </select>
                                                    <input type="hidden" name="MemberId" value="@facultyStaff.Id" />
                                                    <input type="hidden" name="CommitteeId" value="@Model.Id" />
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-trash"></i> Thêm</button>
                                                </div>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                                count2++;
                            }
                        </tbody>
                    </table>
                </div>
                @await Component.InvokeAsync("FacultyStaffLayout_Paged", new { action = "LoadAddMemberView", enableSearchBy = true })
            </div>
        </div>
    </div>

</section>
