@model ThesisApprovalInput
@{
    ThesisOutput thesisOutput = (ViewData["Thesis"] as ThesisOutput)!;
}

@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")

<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewData["PageName"]: "@thesisOutput.Name"</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="form-label">Mã đề tài</label>
                                    <input class="form-control" value="@thesisOutput.Id" disabled />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Tên đề tài</label>
                                    <input class="form-control" value="@thesisOutput.Name" placeholder="Nhập tên đề tài" disabled />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Mô tả đề tài</label>
                                    <textarea class="form-control" id="thesisDescription" placeholder="Mô tả" style="height: 350px;" disabled>@thesisOutput.Description</textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Giảng viên ra đề</label>
                                    <input class="form-control" value="@thesisOutput.Lecturer.FullName" placeholder="Nhập tên giảng viên ra đề tài" disabled />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ngày tạo</label>
                                    <input class="form-control" value="@thesisOutput.CreatedAt" disabled />
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Ngày cập nhật</label>
                                    <input class="form-control" value="@thesisOutput.UpdatedAt" disabled />
                                </div>

                                <div class="d-flex justify-content-end">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal" asp-action="ApproveThesis" method="post" id="approveOrRejectThesis">
                            <input type="hidden" asp-for="ThesisId" />
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="form-label" asp-for="Notes"></label>
                                    <textarea asp-for="Notes" class="form-control" placeholder="Mô tả" style="height: 250px;"></textarea>
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center">
                            <button type="submit" form="approveOrRejectThesis" formaction="@Url.Action("RejectThesis", new { thesisId = @Model.ThesisId })" class="btn btn-danger me-1 mb-1">Từ chối</button>
                            <button type="submit" form="approveOrRejectThesis" formaction="@Url.Action("ApproveThesis", new { thesisId = Model.ThesisId })" class="btn btn-success me-1 mb-1">Phê duyệt</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <style>
        .ck-editor__editable {
            min-height: 450px;
        }
    </style>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/mazer-main/vendors/ckeditor/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#thesisDescription'))
            .then(editor => {
                editor.isReadOnly = true;
                const toolbarElement = editor.ui.view.toolbar.element;
                toolbarElement.style.display = 'none';
            }).catch(error => {
                console.error(error);
            });
    </script>
}