@model GraduateThesis.Repository.DTO.ThesisOutput

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThesisOutput</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxStudentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxStudentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PresentationFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PresentationFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PdfFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PdfFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourceCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TopicId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TopicId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingFormId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingForm.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingLevelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingLevelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InProgess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InProgess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Finished)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Finished)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecializationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecializationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LectureId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LectureId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThesisGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThesisGroupId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
