@model IEnumerable<ThesisOutput>

@await Component.InvokeAsync("FacultyStaffLayout_Toolbar")

@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")

<section class="section">
    <div class="card">
        <div class="card-header">
            Xem theo:
            <a asp-action="GetFinishedList" class="btn btn-sm btn-primary mb-1 me-1">Đã hoàn thành</a>
            <a asp-action="GetPublishedList" class="btn btn-sm btn-primary mb-1 me-1">Đã công bố</a>
            <a asp-action="GetApprovedList" class="btn btn-sm btn-success mb-1 me-1">Đã được duyệt</a>
            <a asp-action="GetRejectedList" class="btn btn-sm btn-danger mb-1 me-1">Bị từ chối duyệt</a>
            <a asp-action="GetPendingList" class="btn btn-sm btn-info mb-1 me-1">Đang chờ duyệt</a>
        </div>
        <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                @await Component.InvokeAsync("FacultyStaffLayout_PagedSearch", new { action = "GetPublishedList", enableSearchBy = true })
                <div class="dataTable-container">
                    <table class="table table-striped dataTable-table" id="table1">
                        <thead>
                            <tr>
                                <th data-sortable="" style="width: 10%;">
                                    <a href="#" class="dataTable-sorter">STT</a>
                                </th>
                                <th data-sortable="" style="width: 15%;">
                                    <a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.Id)</a>
                                </th>
                                <th data-sortable="" style="width: 20%;">
                                    <a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.Name)</a>
                                </th>
                                <th data-sortable="" style="width: 15%;">
                                    <a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.Lecturer.FullName)</a>
                                </th>
                                <th data-sortable="" style="width: 12%;">
                                    <a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.Year)</a>
                                </th>
                                <th data-sortable="" style="width: 8%">
                                    <a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.Semester)</a>
                                </th>
                                <th data-sortable="" style="width: 20%;">
                                    <a href="#" class="dataTable-sorter">Công cụ</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (ThesisOutput thesis in (IEnumerable<ThesisOutput>)ViewData["PagedList"]!)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@thesis.Id</td>
                                    <td>@thesis.Name</td>
                                    <td>@thesis.Lecturer.FullName</td>
                                    <td>@thesis.Year</td>
                                    <td>@thesis.Semester</td>
                                    <td>
                                        <button type="submit" form="close_@count" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Ngừng công bố</button>
                                        <form asp-action="BatchDelete" asp-route-id="@thesis.Id" id="close_@count" method="post">
                                        </form>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
                @await Component.InvokeAsync("FacultyStaffLayout_Paged", new { action = "GetPublishedList", enableSearchBy = true })
            </div>
        </div>
    </div>

</section>