@model ThesisOutput

@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")

<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewData["PageName"]: "@Model.Name"</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label asp-for="Id" class="form-label"></label>
                                    <input asp-for="Id" class="form-control" disabled />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Name"></label>
                                    <input asp-for="Name" class="form-control" placeholder="Nhập tên đề tài" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <textarea asp-for="Description" class="form-control" id="thesisDescription" placeholder="Mô tả"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                        </form>

                        @if (Model.ThesisSupervisor != null)
                        {
                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns mt-5">
                                <div>
                                    <h4 class="card-title">Giảng viên đã được phân công</h4>
                                </div>
                                <div class="dataTable-container">
                                    <table class="table table-striped dataTable-table" id="table1">
                                        <thead>
                                            <tr>
                                                <th data-sortable="" style="width: 20%;">
                                                    <a href="#" class="dataTable-sorter">Mã giảng viên</a>
                                                </th>
                                                <th data-sortable="" style="width: 35%;">
                                                    <a href="#" class="dataTable-sorter">Họ tên giảng viên</a>
                                                </th>
                                                <th data-sortable="" style="width: 25%;">
                                                    <a href="#" class="dataTable-sorter">Email</a>
                                                </th>
                                                <th data-sortable="" style="width: 20%;">
                                                    <a href="#" class="dataTable-sorter">Công cụ</a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.ThesisSupervisor.Id</td>
                                                <td>@Model.ThesisSupervisor.FullName</td>
                                                <td>@Model.ThesisSupervisor.Email</td>
                                                <td>
                                                    <form asp-action="RemoveAssignSupv" method="post">
                                                        <input type="hidden" name="thesisId" value="@Model.Id" />
                                                        <input type="hidden" name="lecturerId" value="@Model.ThesisSupervisor.Id" />
                                                        <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Hủy phân công</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="mt-5">
                                <h4 class="card-title">Đặt giảng viên ra đề làm GVHD</h4>
                                <form class="form form-horizontal" asp-action="AssignDefautSupv">
                                    <input type="hidden" name="thesisId" value="@Model.Id" />
                                    <div class="form-body">
                                        <div class="form-group">
                                            <input class="form-control" value="@Model.Lecturer.Id - @Model.Lecturer.FullName" disabled />
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-success me-1 mb-1">Phân công</button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="mt-5">
                                <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                                    <div>
                                        <h4 class="card-title">Chọn giảng viên khác</h4>
                                    </div>
                                    @await Component.InvokeAsync("FacultyStaffLayout_PagedSearch", new { action = "LoadAssignSupvView", enableSearchBy = true })
                                    <div class="dataTable-container">
                                        <table class="table table-striped dataTable-table" id="table1">
                                            <thead>
                                                <tr>
                                                    <th data-sortable="" style="width: 10%;">
                                                        <a href="#" class="dataTable-sorter">STT</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 20%;">
                                                        <a href="#" class="dataTable-sorter">Mã giảng viên</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 25%;">
                                                        <a href="#" class="dataTable-sorter">Họ tên giảng viên</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 25%;">
                                                        <a href="#" class="dataTable-sorter">Email</a>
                                                    </th>
                                                    <th data-sortable="" style="width: 20%;">
                                                        <a href="#" class="dataTable-sorter">Công cụ</a>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int count = 1;
                                                }
                                                @foreach (FacultyStaffOutput facultyStaff in (IEnumerable<FacultyStaffOutput>)ViewData["PagedList"]!)
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@facultyStaff.Id</td>
                                                        <td>@facultyStaff.FullName</td>
                                                        <td>@facultyStaff.Email</td>
                                                        <td>
                                                            <form asp-action="AssignSupervisor" method="post">
                                                                <input type="hidden" name="thesisId" value="@Model.Id" />
                                                                <input type="hidden" name="lecturerId" value="@facultyStaff.Id" />
                                                                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-trash"></i>Phân công</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    count++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    @await Component.InvokeAsync("FacultyStaffLayout_Paged", new { action = "LoadAssignSupvView", enableSearchBy = true })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <style>
        .ck-editor__editable {
            min-height: 450px;
        }
    </style>
}

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/mazer-main/vendors/ckeditor/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#thesisDescription'))
            .catch(error => {
                console.error(error);
            });
    </script>
}