@model ThesisOutput
@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")
<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewData["PageName"]: "@Model.Name"</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="Id"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="Id" class="form-control" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Name"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="Name" class="form-control" placeholder="Nhập tên chủ đề" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Description"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="Description" class="form-control" placeholder="Mô tả" disabled></textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="CreatedAt"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="CreatedAt" class="form-control" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="UpdatedAt"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="UpdatedAt" class="form-control" disabled />
                                    </div>

                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <a asp-action="Index" class="btn btn-light-secondary me-1 mb-1">Quay về danh sách</a>
                                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-1 mb-1">Chỉnh sửa</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Gán giảng viên phản biện cho đề tài</h4>
        </div>
        <div class="card-body">

            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                @await Component.InvokeAsync("FacultyStaffLayout_PagedSearch", new { action = "LoadCounterArgumentView", enableOrder = false })
                <div class="dataTable-container">
                    <table class="table table-striped dataTable-table" id="table1">
                        <thead>
                            <tr>
                                <th data-sortable="" style="width: 10%;">
                                    <a href="#" class="dataTable-sorter">STT</a>
                                </th>
                                <th data-sortable="" style="width: 20%;">
                                    <a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.Id)</a>
                                </th>
                                <th data-sortable="" style="width: 25%;">
                                    <a href="#" class="dataTable-sorter">Họ tên giảng viên</a>
                                </th>
                                <th data-sortable="" style="width: 25%;">
                                    <a href="#" class="dataTable-sorter">Email</a>
                                </th>
                                <th data-sortable="" style="width: 20%;">
                                    <a href="#" class="dataTable-sorter">Công cụ</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (FacultyStaffOutput facultyStaff in (IEnumerable<FacultyStaffOutput>)ViewData["PagedList"]!)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@facultyStaff.Id</td>
                                    <td>@facultyStaff.FullName</td>
                                    <td>@facultyStaff.Email</td>
                                    <td>
                                        @{
                                            Dictionary<string, string> routeData = new Dictionary<string, string>
                                    {
                                    {
                                    "thesisId",Model.Id
                                    },
                                    {
                                    "lectureId",facultyStaff.Id
                                    }
                                    };
                                        }
                                        <button type="submit" form="grant_@count" class="btn btn-success btn-sm"><i class="fas fa-trash"></i> Phân công</button>
                                        <form asp-action="AssignCounterArgument" asp-all-route-data="routeData" id="grant_@count" method="post">
                                            <input type="hidden" name="thesisId" value="@Model.Id" />
                                            <input type="hidden" name="lectureId" value="@facultyStaff.Id" />
                                        </form>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
                @await Component.InvokeAsync("FacultyStaffLayout_Paged", new { action = "LoadCounterArgumentView", enableOrder = false })
            </div>
        </div>
    </div>

</section>
