@model ThesisRevReviewInput
@{
    ThesisRevisionOutput thesisRevision = (ViewData["ThesisRevision"] as ThesisRevisionOutput)!;
}

@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")

<section id="basic-horizontal-layouts">
    <div class="row match-height">
        <div class="col-md-12 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">@ViewData["PageName"]: "@thesisRevision.Title"</h4>
                    <div class="mt-3">
                        <p class="m-0">Tên đề tài: @thesisRevision.Thesis.Name</p>
                        <p class="m-0">Ngày thực hiện: @thesisRevision.CreatedAt</p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form asp-action="ReviewRevision" asp-route-revisionId="@thesisRevision.Id" class="form form-horizontal" method="post">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label asp-for="RevisionId"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="RevisionId" class="form-control" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Comment"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <textarea asp-for="Comment" class="form-control" id="comment" placeholder="Mô tả"></textarea>
                                        <span asp-validation-for="Comment" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <label asp-for="Point"></label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input asp-for="Point" class="form-control" />
                                        <span asp-validation-for="Point" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Hoàn thành</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <style>
        .ck-editor__editable {
            min-height: 250px;
        }
    </style>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/mazer-main/vendors/ckeditor/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#comment'))
            .catch(error => {
                console.error(error);
            });
    </script>
}