@model IEnumerable<ThesisOutput>
@{
    IPagedList pagedInfo = (IPagedList)ViewData["PagedList"];
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">@ViewData["PageName"]</h4>
                <p class="card-description">

                </p>
                <div class="table-responsive table-hover">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:10%">#</th>
                                <th style="width:10%">@Html.DisplayNameFor(model => model.Id)</th>
                                <th style="width:50%">@Html.DisplayNameFor(model => model.Name)</th>
                                <th style="width:20%">Trạng thái khóa luận</th>
                                <th style="width:10%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach(ThesisOutput thesis in (IEnumerable<ThesisOutput>)ViewData["PagedList"]){
                                <tr ondblclick="location.href = '@Url.Action("Details", "StudentThesis", new { id = thesis.Id })'">
                                    <td>@count</td>
                                    <td>@thesis.Id</td>
                                    <td>@thesis.Name</td>
                                    <td>
                                        @if (thesis.ThesisGroupId == null)
                                        {
                                            <label class="badge badge-success">Cho phép đăng ký</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-danger">Đã có nhóm đăng ký</label>
                                        }
                                    </td> 
                                    <td>
                                        <a asp-action="Details" asp-controller="StudentThesis" asp-route-id="@thesis.Id">Xem chi tiết</a>
                                    </td>
                                </tr>
                        
                            }
                        </tbody>
                    </table>
                </div>

                <nav class="dataTable-pagination">
                    <ul class="dataTable-pagination-list">
                        @Html.PagedListPager(
                            (IPagedList)ViewData["PagedList"],
                            p => Url.Action("Index", new {
                                page = p,
                                pageSize = pagedInfo.PageSize,
                                orderBy = @ViewData["OrderBy"],
                                orderOptions = @ViewData["OrderOptions"],
                                keyword = @ViewData["Keyword"]
                            }),
                            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                            {
                                LiElementClasses = new string[] { "page-item" },
                                PageClasses = new string[] { "page-link" }
                            },
                            ajaxOptions: new AjaxOptions
                            {
                                UpdateTargetId = "dataTable",
                                InsertionMode = InsertionMode.Replace,
                                HttpMethod = "GET"
                            }))
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

    </script>
}