@model IEnumerable<TopicOutput>

@await Component.InvokeAsync("FacultyStaffLayout_Toolbar")

@await Component.InvokeAsync("FacultyStaffLayout_StatusArea")

<section class="section">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                @await Component.InvokeAsync("FacultyStaffLayout_PagedSearch")
                <div class="dataTable-container">
                    <table class="table table-striped dataTable-table" id="table1">
                        <thead>
                            <tr>
                                <th data-sortable="" style="width: 11.8309%;">
                                    <a href="#" class="dataTable-sorter">STT</a>
                                </th>
                                <th data-sortable="" style="width: 11.8309%;">
                                    <a href="#" class="dataTable-sorter">ID</a>
                                </th>
                                <th data-sortable="" style="width: 41.8929%;">
                                    <a href="#" class="dataTable-sorter">@Html.DisplayNameFor(model => model.Name)</a>
                                </th>
                                <th data-sortable="" style="width: 16.3887%;">
                                    <a href="#" class="dataTable-sorter">Công cụ</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                            }
                            @foreach (TopicOutput topic in (IEnumerable<TopicOutput>)ViewData["PagedList"]!)
                            {
                                <tr>
                                    <td>@count</td>
                                    <td>@topic.Id</td>
                                    <td>@topic.Name</td>
                                    <td>
                                        <a class="btn btn-success btn-sm" asp-action="Details" asp-controller="TopicManager" asp-route-id="@topic.Id">
                                            <i class="fas fa-folder"></i> Chi tiết
                                        </a>
                                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-controller="TopicManager" asp-route-id="@topic.Id">
                                            <i class="fas fa-folder"></i> Sửa
                                        </a>
                                        <button type="submit" form="deleteTopic_@count" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Xóa</button>
                                        <form asp-action="Delete" asp-controller="TopicManager" asp-route-id="@topic.Id" id="deleteTopic_@count">
                                        </form>
                                    </td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
                @await Component.InvokeAsync("FacultyStaffLayout_Paged")
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}