 @using GraduateThesis.Repository.DTO
@model IEnumerable<StudentOutput>



<div class="row">
    <div class="col">
        @if (TempData["statusCode"] != null)
        {
            string statusCode = TempData["statusCode"].ToString();
            string selectedCss;
            if (statusCode == "Failed")
            {
                selectedCss = "alert-danger";
            }
            else if (statusCode == "Warning")
            {
                selectedCss = "alert-warning";
            }
            else
            {
                selectedCss = "alert-success";
            }

            <div class="alert @selectedCss alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-check"></i> @statusCode</h5>
                @TempData["status"].ToString()
            </div>
        }
    </div>
</div>

<!-- Default box -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Projects</h3>
        <div class="card-tools">
            @Html.ActionLink("Create", "Create", null, htmlAttributes: new { @class = "btn btn-primary" }) |
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0" id="dataTable">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 10%;">
                        #
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Adress)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Birthday)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Avatar)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Notes)
                    </th>
                    <th style="width: 20%;">
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th style="width: 30%; text-align: center;">Công cụ</th>
                </tr>
            </thead>
            <tbody>
                @{ int count = 0; }
                @foreach (StudentOutput studentOutput in Model)
                {
                <tr>
                    <td>
                        @studentOutput.Id
                    </td>
                    <td>
                        @studentOutput.Name
                    </td>
                    <td>
                        @studentOutput.Phone
                    </td>
                    <td>
                        @studentOutput.Email
                    </td>
                    <td>
                        @studentOutput.Adress
                    </td>
                    <td>
                        @studentOutput.Birthday
                    </td>
                    <td>
                        @studentOutput.Avatar
                    </td>
                    <td>
                        @studentOutput.Notes
                    </td>
                    <td>
                        @studentOutput.Sex
                    </td>
                    <td class="project-actions text-right">
                        <a class="btn btn-success btn-sm" href="@Url.Action("Details", new { studenId = studentOutput.Id })">
                            <i class="fas fa-folder"></i> Chi tiết
                        </a>
                        <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new {  studenId = studentOutput.Id })">
                            <i class="fas fa-pencil-alt"></i> Sửa
                        </a>
                        <button type="submit" form="deleteStudent_@count" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Xóa</button>
                        @using (Html.BeginForm("Delete", "Student", new { studentId = studentOutput.Id }, FormMethod.Post,true, new { @id = $"deleteStudent_{count}" }))
                        {
                            @Html.AntiForgeryToken()
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}